.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  .tittle {
    position: absolute;
    h1 {
      font-size: 2rem;
      color: hsl(240, 5%, 38%);
    }
  }

  .select-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 1rem auto;

    .select-label {
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .select {
      display: flex;
      justify-content: flex-end;
      width: 11rem;
      position: relative;
      z-index: 1;
      .selected-option {
        cursor: pointer;
        .select-icon {
          padding-top: 1rem;
          height: 100%;
        }

        .options {
          position: absolute;
          margin-left: -9.2rem;
          background-color: white;
          width: 100%;
          padding: 0.5rem 0;
          margin-top: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
          color: hsl(240, 5%, 38%);
          z-index: 1;

          .option {
            padding: 0.5rem 1rem;
            cursor: pointer;
          }
          :hover {
            background-color: whitesmoke;
          }
        }
        .options[data-toggle="collapsed"] {
          display: none;
        }
      }
    }
  }
}
