.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 90%;

    .containerInput {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      margin-bottom: 1.5rem;
    }

    .product-container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
      gap: 1rem;
      flex: 1;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}
